APP_ENV=development

DB_HOST=postgres-svc
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=gigpf
DB_SSLMODE=disable

FIREBASE_CREDENTIALS_PATH=/etc/localstack/firebase-credentials.json

OTEL_COLLECTOR_ADDR=otel-collector:4317
